#heroContacto {
	background: linear-gradient(0deg, rgba(201, 201, 201, 0.656) 70%, rgba(255,255,255,80) 96%);
	height: 65vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
#contacto {
	h3 {
		font-size: 22px;
	}
}
.container__contacto {
	display: flex;
	display: flex;
	@include mediaquery-mobile(){
		flex-wrap: wrap;
	}
}
.informacion__container {
	padding: 40px 20px;
	display: flex;
	flex-direction: column;
}
.nuestros__servicios {
	display: flex;
	flex-wrap: wrap;
}
.targetas__contacto {
	padding: 10px 20px;
	display: flex;
	align-items: center;
}
.ubicacion{
	padding: 40px 20px;
}