footer {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 150px;
	border-top: 1px solid rgb(182, 179, 179);
	margin-top: 50px;
	a {
		color: $color_2;
		text-decoration: none;
	}
}
.footer__container {
	display: grid;
	grid-template-columns: repeat(12,1fr);
	@include mediaquery-mobile(){
		grid-template-columns: 1fr;
	}
}
.logo__footer {
	grid-column: 1/3;
	display: flex;
	flex-direction: column;
	@include mediaquery-mobile(){
		grid-column: 1/-1;
		margin-left: 50px;
		padding: 20px 0px;
		align-items: self-start;
		img {
			padding: 2px;
		}
	}
}
.footer__iconos {
	grid-column: 1/3;
	display: flex;
	justify-content: space-around;
	padding: 0px 10px;
}
.enlaces__footer {
	grid-column: 3/5;
	display: flex;
	flex-direction: column;
	align-items: center;
	ul {
		width: 85%;
		list-style-type: none;
		display: flex;
		flex-direction: column;
	}
	@include mediaquery-mobile(){
		grid-column: 1/-1;
		margin-left: 50px;
		align-items: self-start;
	}
}
.condiciones__footer {
	grid-column: 5/7;
	display: flex;
	flex-direction: column;
	align-items: center;
	ul {
		list-style-type: none;
		display: flex;
		flex-direction: column;
	}
	@include mediaquery-mobile(){
		grid-column: 1/-1;
		margin-left: 50px;
		align-items: self-start;
	}
}
.contacto__footer {
	grid-column: 7/12;
	display: flex;
	flex-direction: column;
	@include mediaquery-mobile(){
		grid-column: 1/-1;
		margin-left: 50px;
		align-items: self-start;
	}
}