* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: $font-family_1;
}
h2 {
	font-size: 40px;
	font-weight: normal;
	text-align: center;
}
h3 {
	font-size: 18px;
	font-weight: normal;
	padding: 20px 0px;
}
h4 {
	font-size: 16px;
	font-weight: normal;
}
ul {
	list-style: none;
}
li {
	padding: 0px 20px;
}
.boton {
	text-decoration: none;
	border-radius: 20px;
	background-color: $background-color_1;
	font: 18px;
	padding: 10px 30px;
	color: $color_1;
}